# Fichiers et dossiers spécifiques au projet
cats_dogs_classifier.h5
training_history.png     

# Environnement virtuel Python
venv_dlops/

# Dossiers de données volumineux
data/

# Fichiers Python générés
__pycache__/
*.pyc

# Fichiers de log
*.log

# Fichiers locaux Docker (si non gérés par compose)
.env
secrets/

# Fichiers système ou d'IDE
.DS_Store
.vscode/